<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateFormulaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateFormulaLabel_idmetrica}" for="idmetrica" />
                    <h:selectOneMenu id="idmetrica" value="#{formulaController.selected.idmetrica}" title="#{bundle.CreateFormulaTitle_idmetrica}" >
                        <f:selectItems value="#{metricaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateFormulaLabel_formula}" for="formula" />
                    <h:inputText id="formula" value="#{formulaController.selected.formula}" title="#{bundle.CreateFormulaTitle_formula}" />
                   
                </h:panelGrid>
                <br />
                <h:commandLink action="#{formulaController.create}" value="#{bundle.CreateFormulaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{formulaController.prepareList}" value="#{bundle.CreateFormulaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateFormulaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
