<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFormulaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFormulaEmpty}" rendered="#{formulaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{formulaController.items.rowCount > 0}">
                    <h:outputText value="#{formulaController.pagination.pageFirstItem + 1}..#{formulaController.pagination.pageLastItem + 1}/#{formulaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{formulaController.previous}" value="#{bundle.Previous} #{formulaController.pagination.pageSize}" rendered="#{formulaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{formulaController.next}" value="#{bundle.Next} #{formulaController.pagination.pageSize}" rendered="#{formulaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{formulaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFormulaTitle_idmetrica}"/>
                            </f:facet>
                            <h:outputText value="#{item.idmetrica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFormulaTitle_formula}"/>
                            </f:facet>
                            <h:outputText value="#{item.formula}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFormulaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{formulaController.prepareView}" value="#{bundle.ListFormulaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{formulaController.prepareEdit}" value="#{bundle.ListFormulaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{formulaController.destroy}" value="#{bundle.ListFormulaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{formulaController.prepareCreate}" value="#{bundle.ListFormulaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListFormulaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
