<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewFormulaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewFormulaLabel_idmetrica}"/>
                    <h:outputText value="#{formulaController.selected.idmetrica}" title="#{bundle.ViewFormulaTitle_idmetrica}"/>
                    <h:outputText value="#{bundle.ViewFormulaLabel_formula}"/>
                    <h:outputText value="#{formulaController.selected.formula}" title="#{bundle.ViewFormulaTitle_formula}"/>
                    <h:outputText value="#{bundle.ViewFormulaLabel_id}"/>
                    <h:outputText value="#{formulaController.selected.id}" title="#{bundle.ViewFormulaTitle_id}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{formulaController.destroyAndView}" value="#{bundle.ViewFormulaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewFormulaEditLink}"/>
                <br />
                <h:commandLink action="#{formulaController.prepareCreate}" value="#{bundle.ViewFormulaCreateLink}" />
                <br />
                <h:commandLink action="#{formulaController.prepareList}" value="#{bundle.ViewFormulaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewFormulaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
