<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateObjetoAprendizajeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">

                    <h:outputLabel value="#{bundle.CreateObjetoAprendizajeLabel_creador}" for="creador" />
                    <h:inputText id="creador" value="#{objetoAprendizajeController.selected.creador}" title="#{bundle.CreateObjetoAprendizajeTitle_creador}" />
                    <h:outputLabel value="#{bundle.CreateObjetoAprendizajeLabel_repositorio}" for="repositorio" />
                    <h:selectOneMenu id="repositorio" value="#{objetoAprendizajeController.selected.repositorio}" title="#{bundle.CreateObjetoAprendizajeTitle_repositorio}" >
                        <f:selectItems value="#{repositorioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                   
                    <h:outputLabel value="#{bundle.CreateObjetoAprendizajeLabel_identificador}" for="identificador" />
                    <h:inputText id="identificador" value="#{objetoAprendizajeController.selected.identificador}" title="#{bundle.CreateObjetoAprendizajeTitle_identificador}" />
                    <h:outputLabel value="#{bundle.CreateObjetoAprendizajeLabel_lenguaje}" for="lenguaje" />
                    <h:inputText id="lenguaje" value="#{objetoAprendizajeController.selected.lenguaje}" title="#{bundle.CreateObjetoAprendizajeTitle_lenguaje}" />
                    <h:outputLabel value="#{bundle.CreateObjetoAprendizajeLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{objetoAprendizajeController.selected.nombre}" title="#{bundle.CreateObjetoAprendizajeTitle_nombre}" />

                    <h:outputLabel value="#{bundle.CreateObjetoAprendizajeLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{objetoAprendizajeController.selected.titulo}" title="#{bundle.CreateObjetoAprendizajeTitle_titulo}" />
                    <h:outputLabel value="#{bundle.CreateObjetoAprendizajeLabel_ubicacion}" for="ubicacion" />
                    <h:inputText id="ubicacion" value="#{objetoAprendizajeController.selected.ubicacion}" title="#{bundle.CreateObjetoAprendizajeTitle_ubicacion}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{objetoAprendizajeController.create}" value="#{bundle.CreateObjetoAprendizajeSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{objetoAprendizajeController.prepareList}" value="#{bundle.CreateObjetoAprendizajeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateObjetoAprendizajeIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
