<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditObjetoAprendizajeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_contribuyente}" for="contribuyente" />
                    <h:inputText id="contribuyente" value="#{objetoAprendizajeController.selected.contribuyente}" title="#{bundle.EditObjetoAprendizajeTitle_contribuyente}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_creador}" for="creador" />
                    <h:inputText id="creador" value="#{objetoAprendizajeController.selected.creador}" title="#{bundle.EditObjetoAprendizajeTitle_creador}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_repositorio}" for="repositorio" />
                    <h:selectOneMenu id="repositorio" value="#{objetoAprendizajeController.selected.repositorio}" title="#{bundle.EditObjetoAprendizajeTitle_repositorio}" >
                        <f:selectItems value="#{repositorioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{objetoAprendizajeController.selected.descripcion}" title="#{bundle.EditObjetoAprendizajeTitle_descripcion}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_fechacreacion}" for="fechacreacion" />
                    <h:inputText id="fechacreacion" value="#{objetoAprendizajeController.selected.fechacreacion}" title="#{bundle.EditObjetoAprendizajeTitle_fechacreacion}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_formatos}" for="formatos" />
                    <h:inputText id="formatos" value="#{objetoAprendizajeController.selected.formatos}" title="#{bundle.EditObjetoAprendizajeTitle_formatos}" />
                 
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_identificador}" for="identificador" />
                    <h:inputText id="identificador" value="#{objetoAprendizajeController.selected.identificador}" title="#{bundle.EditObjetoAprendizajeTitle_identificador}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_lenguaje}" for="lenguaje" />
                    <h:inputText id="lenguaje" value="#{objetoAprendizajeController.selected.lenguaje}" title="#{bundle.EditObjetoAprendizajeTitle_lenguaje}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{objetoAprendizajeController.selected.nombre}" title="#{bundle.EditObjetoAprendizajeTitle_nombre}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_tema}" for="tema" />
                    <h:inputText id="tema" value="#{objetoAprendizajeController.selected.tema}" title="#{bundle.EditObjetoAprendizajeTitle_tema}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_tipos}" for="tipos" />
                    <h:inputText id="tipos" value="#{objetoAprendizajeController.selected.tipos}" title="#{bundle.EditObjetoAprendizajeTitle_tipos}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{objetoAprendizajeController.selected.titulo}" title="#{bundle.EditObjetoAprendizajeTitle_titulo}" />
                    <h:outputLabel value="#{bundle.EditObjetoAprendizajeLabel_ubicacion}" for="ubicacion" />
                    <h:inputText id="ubicacion" value="#{objetoAprendizajeController.selected.ubicacion}" title="#{bundle.EditObjetoAprendizajeTitle_ubicacion}" />
                </h:panelGrid>
                <h:commandLink action="#{objetoAprendizajeController.update}" value="#{bundle.EditObjetoAprendizajeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditObjetoAprendizajeViewLink}"/>
                <br />
                <h:commandLink action="#{objetoAprendizajeController.prepareList}" value="#{bundle.EditObjetoAprendizajeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditObjetoAprendizajeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
