<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.ListObjetoAprendizajeTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form styleClass="jsfcrud_list_form">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:outputText escape="false" value="#{bundle.ListObjetoAprendizajeEmpty}"
                          rendered="#{objetoAprendizajeController.items.rowCount == 0}"/>
            <h:panelGroup rendered="#{objetoAprendizajeController.items.rowCount > 0}">

                <p:dataTable emptyMessage="No se encontraron registros" value="#{objetoAprendizajeController.items}"
                             paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Objetos de Aprendizajes"
                             style="font-size: 12px" var="item" styleClass="textCenter"
                             reflow="true">
                    <p:column headerText="Repositorio" styleClass="white">

                        <p:outputLabel value="#{item.repositorio.nombrerepositorio}"/>
                    </p:column>
                    <p:column headerText="Descripción de Objeto de Aprendizaje" styleClass="white">

                        <p:outputLabel value="#{item.descripcion}"/>
                    </p:column>

                    <p:column headerText="Identificador" styleClass="white">
                        <h:outputText value="#{item.identificador}"/>
                    </p:column>
                    <p:column headerText="Título" styleClass="white">

                        <p:outputLabel value="#{item.titulo}"/>
                    </p:column>
                    <p:column headerText="Tema" styleClass="white">

                        <p:outputLabel value="#{item.tema}"/>
                    </p:column>


                    <p:column headerText="URL" styleClass="white">

                        <p:outputLabel value="#{item.identificador}"/>
                    </p:column>
                    <p:column headerText="Idioma" styleClass="white">

                        <p:outputLabel value="#{item.lenguaje}"/>
                    </p:column>

                    <p:column headerText="Origen" styleClass="white">

                        <p:outputLabel value="#{item.origen}"/>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <br/>
            <h:commandLink action="#{objetoAprendizajeController.prepareCreate}"
                           value="#{bundle.ListObjetoAprendizajeCreateLink}"/>
            <br/>
            <br/>
            <h:link outcome="/index" value="#{bundle.ListObjetoAprendizajeIndexLink}"/>
        </h:form>
    </ui:define>
</ui:composition>

</html>
