<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewObjetoAprendizajeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_contribuyente}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.contribuyente}" title="#{bundle.ViewObjetoAprendizajeTitle_contribuyente}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_creador}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.creador}" title="#{bundle.ViewObjetoAprendizajeTitle_creador}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_repositorio}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.repositorio}" title="#{bundle.ViewObjetoAprendizajeTitle_repositorio}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_descripcion}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.descripcion}" title="#{bundle.ViewObjetoAprendizajeTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_fechacreacion}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.fechacreacion}" title="#{bundle.ViewObjetoAprendizajeTitle_fechacreacion}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_formatos}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.formatos}" title="#{bundle.ViewObjetoAprendizajeTitle_formatos}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_id}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.id}" title="#{bundle.ViewObjetoAprendizajeTitle_id}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_identificador}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.identificador}" title="#{bundle.ViewObjetoAprendizajeTitle_identificador}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_lenguaje}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.lenguaje}" title="#{bundle.ViewObjetoAprendizajeTitle_lenguaje}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_nombre}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.nombre}" title="#{bundle.ViewObjetoAprendizajeTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_tema}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.tema}" title="#{bundle.ViewObjetoAprendizajeTitle_tema}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_tipos}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.tipos}" title="#{bundle.ViewObjetoAprendizajeTitle_tipos}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_titulo}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.titulo}" title="#{bundle.ViewObjetoAprendizajeTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewObjetoAprendizajeLabel_ubicacion}"/>
                    <h:outputText value="#{objetoAprendizajeController.selected.ubicacion}" title="#{bundle.ViewObjetoAprendizajeTitle_ubicacion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{objetoAprendizajeController.destroyAndView}" value="#{bundle.ViewObjetoAprendizajeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewObjetoAprendizajeEditLink}"/>
                <br />
                <h:commandLink action="#{objetoAprendizajeController.prepareCreate}" value="#{bundle.ViewObjetoAprendizajeCreateLink}" />
                <br />
                <h:commandLink action="#{objetoAprendizajeController.prepareList}" value="#{bundle.ViewObjetoAprendizajeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewObjetoAprendizajeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
