<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.EditPreguntaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form id="formPregunta">
            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Editar pregunta</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                severity="info,fatal,warn"/>
                    <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">
                        <p:outputLabel value="Capa - Métrica" for="idmetrica"/>
                        <p:selectOneMenu id="idmetrica" value="#{preguntaController.selected.idmetrica}"
                                         title="#{bundle.EditPreguntaTitle_idmetrica}">
                            <f:selectItems value="#{metricaController.itemsAvailableSelectOne}"/>
                        </p:selectOneMenu>

                        <p:outputLabel value="Código" for="pregunta"/>
                        <p:inputText id="pregunta" value="#{preguntaController.selected.pregunta}"
                                     title="#{bundle.EditPreguntaTitle_pregunta}"/>
                        <p:outputLabel value="Pregunta" for="codigo"/>
                        <p:inputText id="codigo" value="#{preguntaController.selected.codigo}" title="codigo"/>
                    </h:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton action="#{preguntaController.update}" update="formPregunta"
                                         value="Guardar cambios"
                                         styleClass="botonfondo botonTamanio"/>
                    </center>


                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
