<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPreguntaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPreguntaLabel_idmetrica}"/>
                    <h:outputText value="#{preguntaController.selected.idmetrica}" title="#{bundle.ViewPreguntaTitle_idmetrica}"/>
                    <h:outputText value="#{bundle.ViewPreguntaLabel_id}"/>
                    <h:outputText value="#{preguntaController.selected.id}" title="#{bundle.ViewPreguntaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPreguntaLabel_pregunta}"/>
                    <h:outputText value="#{preguntaController.selected.pregunta}" title="#{bundle.ViewPreguntaTitle_pregunta}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{preguntaController.destroyAndView}" value="#{bundle.ViewPreguntaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPreguntaEditLink}"/>
                <br />
                <h:commandLink action="#{preguntaController.prepareCreate}" value="#{bundle.ViewPreguntaCreateLink}" />
                <br />
                <h:commandLink action="#{preguntaController.prepareList}" value="#{bundle.ViewPreguntaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPreguntaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
