<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAlumnoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <p:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <p:outputLabel escape="false" value="#{bundle.ListAlumnoEmpty}" rendered="#{alumnoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{alumnoController.items.rowCount > 0}">

                    <p:dataTable value="#{alumnoController.items}" emptyMessage="No se encontraron registros" id="alumnos"
                                 paginator="true" rows="10"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Alumnos"
                                 style="font-size: 12px"  var="item"
                                 reflow="true">
                    <p:column headerText="Carrera">

                            <h:outputText value="#{item.carrera}"/>
                        </p:column>
                        <p:column headerText="Curso">

                            <p:outputLabel value="#{item.curso}"/>
                        </p:column>
                        <p:column headerText="Apellido">

                            <p:outputLabel value="#{item.apellido}"/>
                        </p:column>

                        <p:column headerText="Email">

                            <p:outputLabel value="#{item.mail}"/>
                        </p:column>
                        <p:column headerText="Edad">

                            <p:outputLabel value="#{item.edad}"/>
                        </p:column>
                        <p:column headerText="Nombre">

                            <p:outputLabel value="#{item.nombre}"/>
                        </p:column>


                            <p:commandButton action="#{alumnoController.prepareEdit}" value="Editar" icon="pi pi-pencil" styleClass="botonfondo"/>


                    </p:dataTable>
                </h:panelGroup>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
