<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAlumnoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAlumnoLabel_carrera}"/>
                    <h:outputText value="#{alumnoController.selected.carrera}" title="#{bundle.ViewAlumnoTitle_carrera}"/>
                    <h:outputText value="#{bundle.ViewAlumnoLabel_curso}"/>
                    <h:outputText value="#{alumnoController.selected.curso}" title="#{bundle.ViewAlumnoTitle_curso}"/>
                    <h:outputText value="#{bundle.ViewAlumnoLabel_apellido}"/>
                    <h:outputText value="#{alumnoController.selected.apellido}" title="#{bundle.ViewAlumnoTitle_apellido}"/>
                    <h:outputText value="#{bundle.ViewAlumnoLabel_tipo}"/>
                    <h:outputText value="#{alumnoController.selected.tipo}" title="#{bundle.ViewAlumnoTitle_tipo}"/>
                    <h:outputText value="#{bundle.ViewAlumnoLabel_mail}"/>
                    <h:outputText value="#{alumnoController.selected.mail}" title="#{bundle.ViewAlumnoTitle_mail}"/>
                    <h:outputText value="#{bundle.ViewAlumnoLabel_edad}"/>
                    <h:outputText value="#{alumnoController.selected.edad}" title="#{bundle.ViewAlumnoTitle_edad}"/>
                    <h:outputText value="#{bundle.ViewAlumnoLabel_nombre}"/>
                    <h:outputText value="#{alumnoController.selected.nombre}" title="#{bundle.ViewAlumnoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewAlumnoLabel_id}"/>
                    <h:outputText value="#{alumnoController.selected.id}" title="#{bundle.ViewAlumnoTitle_id}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{alumnoController.destroyAndView}" value="#{bundle.ViewAlumnoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAlumnoEditLink}"/>
                <br />
                <h:commandLink action="#{alumnoController.prepareCreate}" value="#{bundle.ViewAlumnoCreateLink}" />
                <br />
                <h:commandLink action="#{alumnoController.prepareList}" value="#{bundle.ViewAlumnoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAlumnoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
