<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"

      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.CreateReporteEvaluacionTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form id="form">

            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Nuevo Reporte Evaluación</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:growl id="growl" showDetail="true" sticky="true"/>

                    <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">
                        <p:outputLabel for="dimension" value="Seleccion una dimensión:"/>
                        <p:selectOneMenu id="dimension" value="#{reporteEvaluacionController.selected.capa}"
                                         required="true" requiredMessage="Debe seleccionar una dimensión">
                            <f:selectItem itemLabel="Seleccione una dimensión" itemValue=""/>
                            <f:selectItems value="#{capaController.itemsAvailableSelectOne}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="dimension"/>

                        <p:outputLabel for="objeto" value="Seleccion una objeto:"/>
                        <p:selectOneMenu id="objeto" value="#{reporteEvaluacionController.selected.objetoAprendizaje}"
                                         required="true" requiredMessage="Debe seleccionar un objeto">
                            <f:selectItem itemLabel="Seleccione una objeto" itemValue=""/>
                            <f:selectItems value="#{objetoAprendizajeController.itemsAvailableSelectOne}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="objeto"/>

                        <center>
                            <p:commandButton action="#{reporteEvaluacionController.estadisticas()}"
                                             label="generar"
                                             value="Generar" update="form" styleClass="botonTamanio botonfondo"/>
                        </center>

                    </h:panelGrid>
                    <br/>

                    <p:outputLabel value="El peso asignado a las dimensiones debe ser igual a 1" styleClass="font-weight-bold"
                                   style="font-size: 12px; color: #0f669d"
                                   rendered="#{reporteEvaluacionController.dimensionesWrapper.size() > 0}"/>
                    <p:dataTable var="entry" value="#{reporteEvaluacionController.dimensionesWrapper}" id="tabla"
                                 rendered="#{reporteEvaluacionController.dimensionesWrapper.size() > 0}">
                        <p:column headerText="Dimension">
                            <h:outputText value="#{entry.dimension.nombre}"/>
                        </p:column>

                        <p:column headerText="Peso">
                            <p:inputNumber required="true" value="#{entry.peso}" minValue="0" maxValue="1"
                                           requiredMessage="Debe ingresar un peso para la dimension. Solo valores entre 0 y 1">
                            </p:inputNumber>
                        </p:column>
                    </p:dataTable>
                    <div class="SeparatorFull"></div>

                    <p:commandButton actionListener="#{reporteEvaluacionController.indiceTotalDimensiones()}"
                                     styleClass="botonfondo botonTamanio"
                                     label="calcular"
                                     rendered="#{reporteEvaluacionController.dimensionesWrapper.size() > 0}"
                                     value="Mostrar Calidad" update="form"/>
                    <br/>
                    <br/>
                    <h5><b>Significado de colores del gráfico</b></h5>
                    <br/>
                    <p>Recurso de alta calidad <span class="w3-badge w3-green">p</span></p>
                    <p>Recurso de calidad intermedia<span class="w3-badge w3-yellow">p</span></p>
                    <p>Recurso de menor calidad <span class="w3-badge w3-red">p</span></p>
                    <center>


                        <p:chart type="metergauge" model="#{reporteEvaluacionController.meterGaugeModel1}"
                                 style="width:400px;height:250px"/>


                        <p:outputLabel for="calidadObjeto" value="Calidad del Objeto de Aprendizaje: "
                                       style="font-weight: bold"
                                       rendered="#{reporteEvaluacionController.indiceTotalDimensiones > 0.0}"/>
                        <h:outputText id="calidadObjeto" value="#{reporteEvaluacionController.indiceTotalDimensiones} "
                                      style="font-weight: bold"
                                      rendered="#{reporteEvaluacionController.indiceTotalDimensiones > 0.0}"/>
                        <br/>

                        <p:commandButton actionListener="#{reporteEvaluacionController.create()}"
                                         rendered="#{reporteEvaluacionController.indiceTotalDimensiones > 0.0}"
                                         styleClass="botonfondo botonTamanio"
                                         label="guardar"
                                         value="Guardar Reporte" update="form"/>
                    </center>


                </div>
            </div>


        </h:form>
    </ui:define>
</ui:composition>

</html>
