<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditReporteEvaluacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditReporteEvaluacionLabel_cantidadencuestas}" for="cantidadencuestas" />
                    <h:inputText id="cantidadencuestas" value="#{reporteEvaluacionController.selected.cantidadencuestas}" title="#{bundle.EditReporteEvaluacionTitle_cantidadencuestas}" />
                    <h:outputLabel value="#{bundle.EditReporteEvaluacionLabel_encuesta}" for="encuesta" />
                    <h:selectOneMenu id="encuesta" value="#{reporteEvaluacionController.selected.encuesta}" title="#{bundle.EditReporteEvaluacionTitle_encuesta}" >
                        <f:selectItems value="#{encuestaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>

                    <h:outputLabel value="#{bundle.EditReporteEvaluacionLabel_valordecalidad}" for="valordecalidad" />
                    <h:inputText id="valordecalidad" value="#{reporteEvaluacionController.selected.valordecalidad}" title="#{bundle.EditReporteEvaluacionTitle_valordecalidad}" />
                </h:panelGrid>
                <h:commandLink action="#{reporteEvaluacionController.update}" value="#{bundle.EditReporteEvaluacionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditReporteEvaluacionViewLink}"/>
                <br />
                <h:commandLink action="#{reporteEvaluacionController.prepareList}" value="#{bundle.EditReporteEvaluacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditReporteEvaluacionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
