<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.ListReporteEvaluacionTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form>
            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Mis Reportes</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                severity="info,fatal,warn"/>
                    <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">
                        <p:dataTable emptyMessage="No se encontraron registros" id="reporteEvaluacion"
                                     paginator="true" rows="10" styleClass="textCenter"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Encuestas"
                                     style="font-size: 12px" value="#{reporteEvaluacionController.reporteEvaluacions}"
                                     var="item"
                                     reflow="true">

                            <p:column headerText="Fecha">
                                <h:outputLabel value="#{item.fecha}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputLabel>
                            </p:column>

                            <p:column headerText="Objeto">
                                <h:outputLabel value="#{item.objetoAprendizaje.titulo}"/>
                            </p:column>

                            <p:column headerText="Capa">
                                <h:outputLabel value="#{item.capa.nombre}"/>
                            </p:column>

                            <p:column headerText="Usuario"
                                      rendered="#{usuarioController.tienePermiso('Administrador')}">
                                <h:outputLabel value="#{item.usuario.nombre}"/>
                            </p:column>

                            <p:column>

                                <p:commandButton action="#{reporteEvaluacionController.visualizar()}"
                                                 styleClass="botonfondo botonTamanio" style="width: 80% !important;"
                                                 value="Visualizar">
                                    <f:setPropertyActionListener value="#{item}"
                                                                 target="#{reporteEvaluacionController.reporteVisualizar}"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </h:panelGrid>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
