<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewReporteEvaluacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewReporteEvaluacionLabel_cantidadencuestas}"/>
                    <h:outputText value="#{reporteEvaluacionController.selected.cantidadencuestas}" title="#{bundle.ViewReporteEvaluacionTitle_cantidadencuestas}"/>
                    <h:outputText value="#{bundle.ViewReporteEvaluacionLabel_encuesta}"/>
                    <h:outputText value="#{reporteEvaluacionController.selected.encuesta}" title="#{bundle.ViewReporteEvaluacionTitle_encuesta}"/>
                    <h:outputText value="#{bundle.ViewReporteEvaluacionLabel_id}"/>
                    <h:outputText value="#{reporteEvaluacionController.selected.id}" title="#{bundle.ViewReporteEvaluacionTitle_id}"/>
                    <h:outputText value="#{bundle.ViewReporteEvaluacionLabel_valordecalidad}"/>
                    <h:outputText value="#{reporteEvaluacionController.selected.valordecalidad}" title="#{bundle.ViewReporteEvaluacionTitle_valordecalidad}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reporteEvaluacionController.destroyAndView}" value="#{bundle.ViewReporteEvaluacionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewReporteEvaluacionEditLink}"/>
                <br />
                <h:commandLink action="#{reporteEvaluacionController.prepareCreate}" value="#{bundle.ViewReporteEvaluacionCreateLink}" />
                <br />
                <h:commandLink action="#{reporteEvaluacionController.prepareList}" value="#{bundle.ViewReporteEvaluacionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewReporteEvaluacionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
