<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"

      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.CreateReporteEvaluacionTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form id="form">

            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Visualizar Reporte Evaluación</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:growl id="growl" showDetail="true" sticky="true"/>

                    <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 16px" styleClass="tableInput">

                        <p:outputLabel value="Fecha creación de reporte:" style="font-size: 16px !important;"/>
                        <p:outputLabel value="#{reporteEvaluacionController.selected.fecha}"
                                       style="font-weight: bold; font-size: 16px !important;">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                        </p:outputLabel>


                        <p:outputLabel value="Intervalo de encuestas:" style="font-size: 16px !important;"/>
                        <p:outputLabel value="&#160;"/>

                        <p:outputLabel value="Desde:" style="font-size: 16px !important;"/>
                        <p:outputLabel
                                value="#{reporteEvaluacionController.desde}"
                                style="font-weight: bold; font-size: 16px !important;">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </p:outputLabel>

                        <p:outputLabel value="Hasta:" style="font-size: 16px !important;"/>
                        <p:outputLabel
                                value="#{reporteEvaluacionController.hasta}"
                                style="font-weight: bold; font-size: 16px !important;">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </p:outputLabel>

                        <p:outputLabel value="Capa:" style="font-size: 16px !important;"/>
                        <p:outputLabel value="#{reporteEvaluacionController.selected.capa.nombre}"
                                       style="font-weight: bold; font-size: 16px !important;"/>


                        <p:outputLabel value="Objeto:" style="font-size: 16px !important;"/>
                        <p:outputLabel value="#{reporteEvaluacionController.selected.objetoAprendizaje.titulo}"
                                       style="font-weight: bold; font-size: 16px !important;"/>


                    </h:panelGrid>
                    <br/>

                    <p:dataTable var="entry" value="#{reporteEvaluacionController.dimensionesWrapper}" id="tabla"
                                 rendered="#{reporteEvaluacionController.dimensionesWrapper.size() > 0}">
                        <p:column headerText="Dimension">
                            <h:outputText value="#{entry.dimension.nombre}"/>
                        </p:column>

                        <p:column headerText="Peso">
                            <h:outputText value="#{entry.peso}"/>
                        </p:column>
                    </p:dataTable>
                    <div class="SeparatorFull"></div>

                    <br/>
                    <br/>
                    <h5><b>Significado de colores del gráfico</b></h5>
                    <br/>
                    <p>Recurso de alta calidad <span class="w3-badge w3-green">p</span></p>
                    <p>Recurso de calidad intermedia<span class="w3-badge w3-yellow">p</span></p>
                    <p>Recurso de menor calidad <span class="w3-badge w3-red">p</span></p>
                    <center>


                        <p:chart type="metergauge" model="#{reporteEvaluacionController.meterGaugeModel1}"
                                 style="width:400px;height:250px"/>


                        <p:outputLabel for="calidadObjeto" value="Calidad del Objeto de Aprendizaje: "
                                       style="font-weight: bold"
                                       rendered="#{reporteEvaluacionController.indiceTotalDimensiones > 0.0}"/>
                        <h:outputText id="calidadObjeto" value="#{reporteEvaluacionController.indiceTotalDimensiones} "
                                      style="font-weight: bold"
                                      rendered="#{reporteEvaluacionController.indiceTotalDimensiones > 0.0}"/>
                        <br/>

                    </center>


                </div>
            </div>


        </h:form>
    </ui:define>
</ui:composition>

</html>
