<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.CreateUsuarioTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <!--<h:panelGroup id="messagePanel" layout="block">
            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>-->
        <h:form id="usuario">
            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Nuevo Usuario</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                severity="info,fatal,warn"/>
                    <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">

                        <p:outputLabel value="Tipo de Usuario" for="tipoUsuario"/>
                        <p:selectOneMenu id="tipoUsuario" value="#{usuarioController.tipo}"
                                         required="true"
                                         title="Tipo de usuario" style="width: 29%;">
                            <f:selectItem itemLabel="Selecccione un tipo" itemValue=""/>
                            <f:selectItem itemLabel="Alumno" itemValue="Alumno"/>
                            <f:selectItem itemLabel="Experto" itemValue="Experto"/>
                            <p:ajax event="change" update="pnlCrear"
                                    listener="#{usuarioController.habilitarCampos()}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="tipoUsuario"/>

                        <p:outputLabel value="Nombre" for="nombre"/>
                        <p:inputText id="nombre" value="#{usuarioController.alumno.nombre}" title="nombre"
                                     required="true"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="nombre"/>

                        <p:outputLabel value="Apellido" for="apellido"/>
                        <p:inputText id="apellido" value="#{usuarioController.alumno.apellido}"
                                     title="apellido"
                                     required="true"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="apellido"/>

                        <p:outputLabel value="Email" for="email"/>
                        <p:inputText id="email" value="#{usuarioController.alumno.mail}" title="email"
                                     required="true"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="email"/>


                        <p:outputLabel value="Edad" for="edad"/>
                        <p:inputText id="edad" value="#{usuarioController.alumno.edad}" title="edad"
                                     required="true" type="number"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="edad"/>

                        <p:outputLabel value="Password" for="contrasenia" required="true"/>
                        <p:inputText id="contrasenia" value="#{usuarioController.selected.contrasenia}"
                                     title="contraseña"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="contrasenia"/>

                        <p:outputLabel value="Rol" for="rol"/>
                        <p:selectOneMenu id="rol" value="#{usuarioController.selected.rol}" required="true"
                                         title="#{bundle.CreateUsuarioTitle_rol}" style="width: 29%;">
                            <f:selectItem itemLabel="Seleccione un rol" itemValue=""/>
                            <f:selectItems value="#{rolController.itemsAvailableSelectOne}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="rol"/>

                        <p:outputLabel value="Carrera" for="carrera" rendered="${!usuarioController.esexperto}"/>
                        <p:inputText rendered="${!usuarioController.esexperto}" id="carrera"
                                     value="#{usuarioController.alumno.carrera}" title="carrera"
                                     required="true"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="carrera"/>

                        <p:outputLabel value="Curso" for="curso" rendered="${!usuarioController.esexperto}"/>
                        <p:inputText rendered="${!usuarioController.esexperto}" id="curso"
                                     value="#{usuarioController.alumno.curso}" title="curso"
                                     required="true" type="number"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="curso"/>

                        <p:outputLabel value="Especialidad" for="especialidad"
                                       rendered="${usuarioController.esexperto}"/>
                        <p:inputText rendered="${usuarioController.esexperto}" id="especialidad"
                                     value="#{usuarioController.especialidad}" title="especialidad"
                                     required="true"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="especialidad"/>

                    </h:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton action="#{usuarioController.create}" value="Crear"
                                         styleClass="botonfondo botonTamanio" update="usuario"/>
                    </center>
                </div>
            </div>

        </h:form>
    </ui:define>
</ui:composition>

</html>
