<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                    <h3>Editar usuario</h3>
                </div>
                <div class="SeparatorFull"></div>
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                            severity="info,fatal,warn"/>
                <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">
                    <p:outputLabel value="Nombre" for="nombre" />
                    <p:inputText id="nombre" value="#{usuarioController.selected.nombre}" title="#{bundle.CreateUsuarioTitle_nombre}" />

                    <p:outputLabel value="Password" for="contrasenia" />
                    <p:inputText id="contrasenia" value="#{usuarioController.selected.contrasenia}" title="#{bundle.CreateUsuarioTitle_contrasenia}" />

                    <p:outputLabel value="Rol" for="rol" />
                    <p:selectOneMenu id="rol" value="#{usuarioController.selected.rol}" title="#{bundle.CreateUsuarioTitle_rol}" >
                        <f:selectItems value="#{rolController.itemsAvailableSelectOne}"/>

                    </p:selectOneMenu>
                </h:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton action="#{usuarioController.create}" value="Guardar cambios" styleClass="botonfondo botonTamanio"/>
                    </center>


                </div>
                </div>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
