<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>SEMCOA</title>
</h:head>

<h:body>
    <link rel="icon" type="image/png" href="resources/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/bootstrap/css/bootstrap.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="resources/fonts/iconic/css/material-design-iconic-font.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/animate/animate.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/css-hamburgers/hamburgers.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/animsition/css/animsition.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/select2/select2.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/daterangepicker/daterangepicker.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/css/util.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/main.css"/>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <h:form id="login" class="login100-form validate-form">
                    <span class="login100-form-title p-b-26">
						Nueva Contraseña
					</span>
                    <span class="login100-form-title p-b-48">
						<img src="resources/images/logo%206.png" alt="logo"/>
					</span>

                    <p style="color: #bd2130">Su nueva contraseña deber tener un mínimo de 8 carácteres, solo letras y números</p>

                    <div class="wrap-input100 validate-input">
                        <p:outputLabel value="Ingrese una nueva contraseña"/>
                        <p:inputText id="password" class="input100" type="text" name="password"
                                     binding="#{password}"
                                     placeholder="Nueva Contraseña"
                                     validatorMessage="La nueva contraseña debe tener como minimo 8 caracteres, solo letras y numeros"
                                     required="true" requiredMessage="Debe ingresar la nueva contraseña">
                            <f:validateRegex pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"/>
                        </p:inputText>

                        <span class="focus-input100"></span>
                        <p:message for="password"/>
                    </div>


                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <p:commandButton class="login100-form-btn loginbutton"
                                             action="#{usuarioController.cambiarPassword(password.value)}"
                                             value="Aceptar" update="login">
                            </p:commandButton>
                        </div>
                        <p:growl id="growl" showDetail="true" sticky="true"/>
                    </div>

                </h:form>
            </div>
        </div>
    </div>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false"
              showHeader="false" style="background-color: white !important;">
        <img src="resources/images/1amw.gif" style="width: 300px; height: 225px"/>
        <p>Procesando solicitud...</p>
    </p:dialog>


    <h:outputStylesheet name="vendor/jquery/jquery-3.2.1.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/animsition/js/animsition.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/bootstrap/js/popper.js"></h:outputStylesheet>
    <h:outputStylesheet name="vendor/bootstrap/js/bootstrap.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/select2/select2.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/daterangepicker/moment.min.js"></h:outputStylesheet>
    <h:outputStylesheet name="vendor/daterangepicker/daterangepicker.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/countdowntime/countdowntime.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="js/main.js"></h:outputStylesheet>
</h:body>


</html>
