<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.ListRolTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <f:event type="preRenderView" listener="#{encuestaController.cargarEncuestas()}"/>
        <h:form>
            <p:growl id="growl" showDetail="true" sticky="true" />
            <p:tabView
                    rendered="#{usuarioController.tienePermiso('Encuestado') || usuarioController.tienePermiso('Encuestador')}">
                <p:tab title="Encuestas Pendientes">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:dataTable emptyMessage="No se encontraron registros" id="encuestasPendiente"
                                     paginator="true" rows="10" styleClass="textCenter"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Encuestas"
                                     style="font-size: 12px" value="#{encuestaController.pendientes}" var="item"
                                     reflow="true">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre"/>
                                </f:facet>
                                <h:outputText value="#{item.nombre}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Objeto Aprendizaje"/>
                                </f:facet>
                                <h:outputText value="#{item.objetoaprendizaje.titulo}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Encuestador"/>
                                </f:facet>
                                <h:outputText
                                        value="#{item.encuestador.encuestado.nombre}, #{item.encuestador.encuestado.apellido}"/>
                            </p:column>
                            <p:column>
                                <p:commandButton action="#{resultadoEncuestaController.prepareCreate}" value="Responder"
                                                  styleClass="botonfondo botonTamanio" style="width: 20% !important;">
                                    <f:setPropertyActionListener value="#{item}"
                                                                 target="#{resultadoEncuestaController.encuestaAResponder}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid>

                </p:tab>
                <p:tab title="Encuestas Enviadas">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:dataTable emptyMessage="No se encontraron registros" id="encuestasEnviadas"
                                     paginator="true" rows="10" styleClass="textCenter"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Encuestas"
                                     style="font-size: 12px" value="#{encuestaController.enviadas}" var="item"
                                     reflow="true">
                            <p:column styleClass="white">
                                <f:facet name="header">
                                    <h:outputText value="Nombre"/>
                                </f:facet>
                                <h:outputText value="#{item.nombre}"/>
                            </p:column>

                            <p:column styleClass="white">
                                <f:facet name="header">
                                    <h:outputText value="Objeto Aprendizaje"/>
                                </f:facet>
                                <h:outputText value="#{item.objetoaprendizaje.titulo}"/>
                            </p:column>

                            <p:column styleClass="white">
                                <f:facet name="header">
                                    <h:outputText value="Encuestador"/>
                                </f:facet>
                                <h:outputText
                                        value="#{item.encuestador.encuestado.nombre}, #{item.encuestador.encuestado.apellido}"/>
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid>

                </p:tab>
            </p:tabView>
        </h:form>

    </ui:define>
</ui:composition>


</html>

