<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>SEMCOA</title>
</h:head>

<h:body>
    <link rel="icon" type="image/png" href="resources/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/bootstrap/css/bootstrap.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="resources/fonts/iconic/css/material-design-iconic-font.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/animate/animate.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/css-hamburgers/hamburgers.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/animsition/css/animsition.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/select2/select2.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/vendor/daterangepicker/daterangepicker.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="resources/css/util.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/main.css"/>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <h:form id="login" class="login100-form validate-form">
                    <p:growl id="mensaje" showDetail="true" sticky="true"/>

                    <span class="login100-form-title p-b-26">
						Bienvenido
					</span>
                    <span class="login100-form-title p-b-48">
						<img src="resources/images/logo%206.png" alt="logo"/>
					</span>

                    <div class="wrap-input100 validate-input">
                        <p:inputText id="nombreusuario" class="input100" type="text" name="usuario"
                                     value="#{validacionPermisos.usuario}"
                                     placeholder="Email"
                                     required="true" requiredMessage="Debe ingresar su usuario"
                                     validatorMessage="Formato de email incorrecto">
                            <f:validateRegex pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"/>
                        </p:inputText>

                        <span class="focus-input100"></span>
                        <p:message for="nombreusuario"/>
                    </div>

                    <div class="wrap-input100 validate-input">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <p:inputText id="pass" class="input100" type="password" name="usuario"
                                     placeholder="Contraseña"
                                     required="true" requiredMessage="Debe ingresar su contraseña"
                                     value="#{validacionPermisos.password}"/>
                        <span class="focus-input100"></span>
                        <p:message for="pass"/>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <p:commandButton class="login100-form-btn loginbutton"
                                             action="#{validacionPermisos.validarUsuario(validacionPermisos.usuario, validacionPermisos.password)}"
                                             value="Ingresar" update="login">
                            </p:commandButton>
                        </div>
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                    severity="info,fatal,warn"/>
                    </div>


                    <div class="text-center p-t-115">
						<span class="txt1">
							Es alumno?
						</span>

                        <a onclick="PF('dlgnuevo').show()" style="cursor:pointer;">
                            Registrarse
                        </a>
                        <br/>
                        <span class="txt1">
							Olvido su contraseña?
						</span>

                        <a onclick="PF('dlgpass').show()" style="cursor:pointer;">
                            Recuperar
                        </a>
                    </div>

                </h:form>
            </div>
        </div>
    </div>


    <p:dialog header="Registrarse " widgetVar="dlgnuevo" style="background-color: white !important;">
        <h:form>
            <h:panelGrid columns="2" id="crearAlumno">
                <p:outputLabel value="Nombre" for="nombre"/>
                <p:inputText id="nombre" value="#{alumnoController.selected.nombre}" required="true"
                             title="Nombre" requiredMessage="Ingrese un nombre"/>
                <p:message for="nombre"/>
                <p:outputLabel value="&#160;"/>

                <p:outputLabel value="Apellido" for="apellido"/>
                <p:inputText id="apellido" value="#{alumnoController.selected.apellido}" required="true"
                             title="Apellido" requiredMessage="Ingrese un apellido"/>
                <p:message for="apellido"/>
                <p:outputLabel value="&#160;"/>

                <p:outputLabel value="Edad" for="edad"/>
                <p:inputText id="edad" value="#{alumnoController.selected.edad}" type="number" required="true"
                             title="Edad" requiredMessage="Ingrese una edad"/>
                <p:message for="edad"/>
                <p:outputLabel value="&#160;"/>

                <p:outputLabel value="Carrera" for="carrera"/>
                <p:inputText id="carrera" value="#{alumnoController.selected.carrera}" required="true"
                             title="Carrera" requiredMessage="Ingrese una carrera"/>
                <p:message for="carrera"/>
                <p:outputLabel value="&#160;"/>

                <p:outputLabel value="Curso" for="curso"/>
                <p:inputText id="curso" value="#{alumnoController.selected.curso}" type="number" required="true"
                             title="Curso" requiredMessage="Ingrese un curso"/>
                <p:message for="curso"/>
                <p:outputLabel value="&#160;"/>

                <p:outputLabel value="Mail" for="mail"/>
                <p:inputText id="mail" value="#{alumnoController.selected.mail}" required="true"
                             title="Mail" requiredMessage="Ingrese un mail"/>
                <p:message for="mail"/>
                <p:outputLabel value="&#160;"/>

                <p:outputLabel value="Contraseña" for="contrasenia"/>
                <p:inputText id="contrasenia" value="#{alumnoController.contrasenia}" required="true"
                             title="contrasenia" requiredMessage="Ingrese una contraseña"/>
                <p:message for="contrasenia"/>
                <p:outputLabel value="&#160;"/>

            </h:panelGrid>
            <br></br>
            <br></br>
            <p:commandButton action="#{alumnoController.create}" value="Registrarse" update="crearAlumno"
                             styleClass="botonfondo botonTamanio" style="width: 30% !important;"/>

        </h:form>
    </p:dialog>


    <p:dialog header="Recuperar Contraseña " widgetVar="dlgpass" style="background-color: white !important;">
        <h:form>
            <p:growl id="growl" showDetail="true" sticky="true"/>

            <h:panelGrid columns="2" id="panelMail">
                <p:outputLabel value="Email" for="email"/>
                <p:inputText id="email" value="#{usuarioController.emailRecuperar}" required="true" type="text"
                             title="Email" requiredMessage="Ingrese su correo" validatorMessage="Email incorrecto">
                    <f:validateRegex pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"/>
                </p:inputText>
                <p:message for="email"/>
                <p:outputLabel value="&#160;"/>

            </h:panelGrid>
            <br></br>
            <br></br>
            <p:commandButton action="#{usuarioController.recuperar()}" oncomplete="PF('dlgpass').hide()" value="Aceptar"
                             update="panelMail growl"
                             styleClass="botonfondo botonTamanio" style="width: 30% !important;"/>

        </h:form>
    </p:dialog>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false"
              showHeader="false" style="background-color: white !important;">
        <img src="resources/images/1amw.gif" style="width: 300px; height: 225px"/>
        <p>Procesando solicitud...</p>
    </p:dialog>


    <h:outputStylesheet name="vendor/jquery/jquery-3.2.1.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/animsition/js/animsition.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/bootstrap/js/popper.js"></h:outputStylesheet>
    <h:outputStylesheet name="vendor/bootstrap/js/bootstrap.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/select2/select2.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/daterangepicker/moment.min.js"></h:outputStylesheet>
    <h:outputStylesheet name="vendor/daterangepicker/daterangepicker.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/countdowntime/countdowntime.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="js/main.js"></h:outputStylesheet>
</h:body>


</html>
