<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>

<h:head>
    <title><ui:insert name="title">Default Title</ui:insert></title>
    <h:outputStylesheet library="css" name="jsfcrud.css"/>
    <h:outputScript library="js" name="jsfcrud.js"/>
</h:head>

<h:body>

    <p:growl id="growl" life="3000"/>


    <h:form id="menuForm">
        <link rel="icon" type="image/png" href="../resources/images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../resources/vendor/bootstrap/css/bootstrap.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="../resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="../resources/fonts/iconic/css/material-design-iconic-font.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../resources/vendor/animate/animate.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../resources/vendor/css-hamburgers/hamburgers.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../resources/vendor/animsition/css/animsition.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../resources/vendor/select2/select2.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../resources/vendor/daterangepicker/daterangepicker.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../resources/css/util.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/main.css"/>
        <div style="height: 60px; background-color: #ffffff">
             <span class="login100-form-title p-b-48" style="width: 10%;">
                 <img src="../resources/images/logo%202.png" alt="logo" style="margin-top: -12%;"/>
             </span>
        </div>
        <p:menubar styleClass="menu">
            <p:menuitem value="Home" outcome="/index.xhtml" icon="pi pi-home"/>
            <p:submenu label="Seguridad" icon="fa fa-fw fa-gears"
                       rendered="#{usuarioController.tienePermiso('Administrador')}">
                <p:submenu label="Usuario" icon="fa fa-fw fa-users">
                    <p:menuitem value="Crear" actionListener="#{usuarioController.prepareCreate()}"
                                icon="pi pi-user-plus"/>
                    <p:menuitem value="Consultar" actionListener="#{encuestadoController.prepareList()}"
                                icon="pi pi-list"/>
                </p:submenu>
                <p:submenu label="Rol" icon="fa fa-fw fa-sitemap">
                    <p:menuitem value="Crear" outcome="/rol/Create" icon="pi pi-plus"/>
                    <p:menuitem value="Consultar" outcome="/rol/List" icon="pi pi-list"/>
                </p:submenu>

            </p:submenu>


            <p:submenu label="Metrica" icon="pi pi-sort-numeric-up"
                       rendered="#{usuarioController.tienePermiso('Administrador')}">
                <p:submenu label="Métrica" icon="pi pi-sort-numeric-up"
                           rendered="#{usuarioController.tienePermiso('Administrador')}">
                    <p:menuitem value="Crear" outcome="/metrica/Create" icon="pi pi-plus"/>
                    <p:menuitem value="Consultar" outcome="/metrica/List" icon="pi pi-list"/>
                </p:submenu>
                <p:submenu label="Dimensión" icon="fa fa-fw fa-th">
                    <p:menuitem value="Crear" outcome="/dimension/Create" icon="pi pi-plus"/>
                    <p:menuitem value="Consultar" outcome="/dimension/List" icon="pi pi-list"/>
                </p:submenu>
                <p:submenu label="Capa" icon="pi pi-clone"
                           rendered="#{usuarioController.tienePermiso('Administrador')}">

                    <p:menuitem value="Crear" outcome="/capa/Create" icon="pi pi-plus"/>
                    <p:menuitem value="Consultar" outcome="/capa/List" icon="pi pi-list"/>
                </p:submenu>
                <p:submenu label="Pregunta" icon="fa fa-fw fa-question"
                           rendered="#{usuarioController.tienePermiso('Administrador')}">
                    <p:menuitem value="Crear" outcome="/pregunta/Create" icon="pi pi-plus"/>
                    <p:menuitem value="Consultar" outcome="/pregunta/List" icon="pi pi-list"/>
                </p:submenu>

            </p:submenu>


            <p:submenu label="Repositorio" icon="fa fa-fw fa-database"
                       rendered="#{usuarioController.tienePermiso('Administrador')}">
                <p:menuitem value="Crear" outcome="/repositorio/Create" icon="pi pi-plus"/>
                <p:menuitem value="Consultar" outcome="/repositorio/List" icon="pi pi-list"/>
            </p:submenu>

            <p:submenu label="Objeto de Aprendizaje" icon="fa fa-fw fa-paste"
                       rendered="#{usuarioController.tienePermiso('Administrador') || usuarioController.tienePermiso('Encuestador')}">
                <p:menuitem value="Consultar" outcome="/objetoAprendizaje/List" icon="pi pi-list"/>
            </p:submenu>

            <p:submenu label="Encuesta" icon="fa fa-fw fa-file-text-o"
                       rendered="#{usuarioController.tienePermiso('Administrador') || usuarioController.tienePermiso('Encuestador')}">
                <p:menuitem value="Crear" outcome="/encuesta/Create" icon="pi pi-plus"/>
                <p:menuitem value="Consultar" actionListener="#{encuestaController.prepareList()}" icon="pi pi-list"/>
            </p:submenu>




            <p:submenu label="Reporte Evaluación" icon="fa fa-fw fa-dashboard"
                       rendered="#{usuarioController.tienePermiso('Encuestador') || usuarioController.tienePermiso('Administrador')}">
                <p:menuitem value="Crear" actionListener="#{reporteEvaluacionController.prepareCreate()}"
                            icon="pi pi-plus" rendered="#{usuarioController.tienePermiso('Encuestador')}"/>
                <p:menuitem value="Consultar" actionListener="#{reporteEvaluacionController.prepareList()}"
                            icon="pi pi-list"/>
            </p:submenu>


            <f:facet name="options">
                <p:splitButton value="#{usuarioController.logueado.nombre}" style="background-color: #24769a"
                               icon="fa fa-slideshare" styleClass="Fleft">
                    <p:menuitem value="Cerrar Sesión" icon="fa fa-close"
                                action="#{validacionPermisos.cerrarSesion()}"/>
                </p:splitButton>
            </f:facet>


        </p:menubar>
    </h:form>


    <ui:insert name="footer"/>

    <div style="margin-top: 1%">
        <ui:insert name="body"/>
    </div>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false"
              showHeader="false">
        <img src="../resources/images/1amw.gif" style="width: 300px; height: 225px"/>
        <p>Procesando solicitud...</p>
    </p:dialog>

    <h:outputStylesheet name="vendor/jquery/jquery-3.2.1.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/animsition/js/animsition.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/bootstrap/js/popper.js"></h:outputStylesheet>
    <h:outputStylesheet name="vendor/bootstrap/js/bootstrap.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/select2/select2.min.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/daterangepicker/moment.min.js"></h:outputStylesheet>
    <h:outputStylesheet name="vendor/daterangepicker/daterangepicker.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="vendor/countdowntime/countdowntime.js"></h:outputStylesheet>
    <!--===============================================================================================-->
    <h:outputStylesheet name="js/main.js"></h:outputStylesheet>


</h:body>

</html>
