<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.CreateCapaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form id="capa">

            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Nueva Capa</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                severity="info,fatal,warn"/>
                    <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">
                        <p:outputLabel value="Descripcion de la capa" for="descripcion"/>
                        <p:inputText id="descripcion" value="#{capaController.selected.descripcion}" required="true"
                                     title="#{bundle.CreateCapaTitle_descripcion}" requiredMessage="Debe ingresar una descripción"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="descripcion"/>
                        <p:outputLabel value="#{bundle.CreateCapaLabel_nombre}" for="nombre"/>
                        <p:inputText id="nombre" value="#{capaController.selected.nombre}" required="true"
                                     title="#{bundle.CreateCapaTitle_nombre}" requiredMessage="Debe ingresar un nombre"/>
                        <p:outputLabel value="&#160;"/>
                        <p:message for="nombre"/>
                    </h:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton action="#{capaController.create}" value="Guardar"
                                         styleClass="botonfondo botonTamanio" update="capa"/>
                    </center>


                </div>
            </div>


        </h:form>
    </ui:define>
</ui:composition>

</html>
