<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCapaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCapaLabel_descripcion}"/>
                    <h:outputText value="#{capaController.selected.descripcion}" title="#{bundle.ViewCapaTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewCapaLabel_id}"/>
                    <h:outputText value="#{capaController.selected.id}" title="#{bundle.ViewCapaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewCapaLabel_nombre}"/>
                    <h:outputText value="#{capaController.selected.nombre}" title="#{bundle.ViewCapaTitle_nombre}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{capaController.destroyAndView}" value="#{bundle.ViewCapaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCapaEditLink}"/>
                <br />
                <h:commandLink action="#{capaController.prepareCreate}" value="#{bundle.ViewCapaCreateLink}" />
                <br />
                <h:commandLink action="#{capaController.prepareList}" value="#{bundle.ViewCapaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCapaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
