<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.EditEncuestadoTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:panelGroup id="messagePanel" layout="block">
            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:form>
            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Editar Usuario</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                severity="info,fatal,warn"/>
                    <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">

                        <p:outputLabel value="Tipo de Usuario" for="tipoUsuario"/>
                        <p:selectOneMenu id="tipoUsuario" value="#{encuestadoController.currentEdit.tipo}"
                                         required="true"
                                         title="Tipo de usuario" style="width: 29%;">
                            <f:selectItem itemLabel="Alumno" itemValue="Alumno"/>
                            <f:selectItem itemLabel="Experto" itemValue="Experto"/>
                            <p:ajax event="change" update="pnlCrear"
                                    listener="#{encuestadoController.habilitarCampos()}"/>
                        </p:selectOneMenu>

                        <p:outputLabel value="Nombre" for="nombre"/>
                        <p:inputText id="nombre" value="#{encuestadoController.currentEdit.nombre}"
                                     title="nombre"/>

                        <p:outputLabel value="Apellido" for="apellido"/>
                        <p:inputText id="apellido" value="#{encuestadoController.currentEdit.apellido}"
                                     title="Apellido"/>

                        <p:outputLabel value="Email" for="email"/>
                        <p:inputText id="email" value="#{encuestadoController.currentEdit.mail}"
                                     title="email"/>

                        <p:outputLabel value="Edad" for="edad"/>
                        <p:inputText id="edad" value="#{encuestadoController.currentEdit.edad}"
                                     title="edad"/>

                        <p:outputLabel value="Especialidad" for="especialidad"/>
                        <p:inputText id="especialidad" value="#{encuestadoController.currentEdit.especialidad}"
                                     title="especialidad"
                                     disabled="#{!encuestadoController.esExperto}"/>

                        <p:outputLabel value="Curso" for="curso"/>
                        <p:inputText id="curso" value="#{encuestadoController.currentEdit.curso}"
                                     title="curso" disabled="#{encuestadoController.esExperto}"/>

                        <p:outputLabel value="Carrera" for="carrera"/>
                        <p:inputText id="carrera" value="#{encuestadoController.currentEdit.carrera}"
                                     title="carrera" disabled="#{encuestadoController.esExperto}"/>

                    </h:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton action="#{encuestadoController.create}" value="Guardar cambios"
                                         styleClass="botonfondo botonTamanio"/>
                    </center>


                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
