<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.ListEncuestadoTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form styleClass="jsfcrud_list_form">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:panelGroup rendered="#{encuestadoController.objects.size() > 0}">
                <p:dataTable value="#{encuestadoController.objects}" emptyMessage="No se encontraron registros"
                             id="encuestados"
                             paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Usuarios"
                             style="font-size: 12px" var="item"
                             reflow="true">

                    <p:column headerText="Nombre">
                        <p:outputLabel value="#{item.nombre}"/>
                    </p:column>
                    <p:column headerText="Apellido">

                        <p:outputLabel value="#{item.apellido}"/>
                    </p:column>
                    <p:column headerText="Edad">

                        <p:outputLabel value="#{item.edad}"/>
                    </p:column>
                    <p:column headerText="Email">
                        <p:outputLabel value="#{item.mail}"/>
                    </p:column>
                    <p:column headerText="Tipo">
                        <p:outputLabel value="#{item.tipo}"/>
                    </p:column>
                    <p:column headerText="Rol">
                        <p:outputLabel value="#{item.usuario.rol.descripcion}"/>
                    </p:column>
                    <p:column headerText="Carrera">
                        <p:outputLabel value="#{item.carrera}"/>
                    </p:column>
                    <p:column headerText="Curso">
                        <p:outputLabel value="#{item.curso}"/>
                    </p:column>
                    <p:column headerText="Especialidad">
                        <p:outputLabel value="#{item.especialidad}"/>
                    </p:column>

                    <p:column>
                        <p:commandButton action="#{encuestadoController.prepareEdit}" icon="pi pi-pencil"
                                         value="Editar"
                                         styleClass="botonfondo">
                            <f:setPropertyActionListener value="#{item}" target="#{encuestadoController.currentEdit}"/>
                        </p:commandButton>
                    </p:column>

                </p:dataTable>
            </h:panelGroup>

        </h:form>
    </ui:define>
</ui:composition>

</html>
