<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEncuestadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEncuestadoLabel_apellido}"/>
                    <h:outputText value="#{encuestadoController.selected.apellido}" title="#{bundle.ViewEncuestadoTitle_apellido}"/>
                    <h:outputText value="#{bundle.ViewEncuestadoLabel_tipo}"/>
                    <h:outputText value="#{encuestadoController.selected.tipo}" title="#{bundle.ViewEncuestadoTitle_tipo}"/>
                    <h:outputText value="#{bundle.ViewEncuestadoLabel_mail}"/>
                    <h:outputText value="#{encuestadoController.selected.mail}" title="#{bundle.ViewEncuestadoTitle_mail}"/>
                    <h:outputText value="#{bundle.ViewEncuestadoLabel_edad}"/>
                    <h:outputText value="#{encuestadoController.selected.edad}" title="#{bundle.ViewEncuestadoTitle_edad}"/>
                    <h:outputText value="#{bundle.ViewEncuestadoLabel_nombre}"/>
                    <h:outputText value="#{encuestadoController.selected.nombre}" title="#{bundle.ViewEncuestadoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewEncuestadoLabel_id}"/>
                    <h:outputText value="#{encuestadoController.selected.id}" title="#{bundle.ViewEncuestadoTitle_id}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{encuestadoController.destroyAndView}" value="#{bundle.ViewEncuestadoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEncuestadoEditLink}"/>
                <br />
                <h:commandLink action="#{encuestadoController.prepareCreate}" value="#{bundle.ViewEncuestadoCreateLink}" />
                <br />
                <h:commandLink action="#{encuestadoController.prepareList}" value="#{bundle.ViewEncuestadoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEncuestadoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
