<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.CreateEncuestaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form id="form">
            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Nueva Encuesta</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                severity="info,fatal,warn"/>

                    <p:wizard id="wizard" showNavBar="false"
                              flowListener="#{encuestaController.onFlowProcess}" widgetVar="wiz">
                        <p:tab id="personal" title="Información de encuesta">

                            <br/>
                            <h:panelGrid columns="2">
                                <p:outputLabel for="nombreEncuesta" value="Nombre de encuesta"/>
                                <p:inputText id="nombreEncuesta" value="#{encuestaController.selected.nombre}"
                                             required="true"
                                             requiredMessage=" Nombre de encuesta obligatorio"/>
                                <p:outputLabel value="&#160;"/>
                                <p:message for="nombreEncuesta"/>

                                <!--<p:outputLabel for="calendar" value="Fecha de creación"/>
                                <p:calendar id="calendar" value="# {encuestaController.selected.fechacreacion}"
                                            locale="es" pattern="dd/MM/yyyy"
                                            required="true" requiredMessage=" Fecha de encuesta obligatorio"/>
                                <p:outputLabel value="&#160;"/>
                                <p:message for="calendar"/>-->
                            </h:panelGrid>
                        </p:tab>

                        <p:tab id="address" title="Objeto de Aprendizaje">
                            <p:growl id="msgs" showDetail="true"/>
                            <br/><br/>
                            <p:selectOneMenu id="repositorio"
                                             value="#{objetoAprendizajeController.repositorioSeleccinado}"
                                             style="width: 29%;"
                                             required="true" requiredMessage="Debe seleccionar una repositorio">
                                <f:selectItem itemLabel="Seleccione una repositorio" itemValue=""/>
                                <f:selectItems value="#{repositorioController.itemsAvailableSelectOne}"/>
                                <p:ajax event="change" update="objetoTable"
                                        listener="#{objetoAprendizajeController.obtenerObjetosDeRepositorio()}"/>
                            </p:selectOneMenu>
                            <div class="SeparatorFull"></div>

                            <p:dataTable var="oa" value="#{objetoAprendizajeController.objetoAprendizajeDTOS}"
                                         selectionMode="single"
                                         id="objetoTable" scrollable="true" scrollHeight="300"
                                         selection="#{encuestaController.objetoSeleccionado}"
                                         rowKey="#{oa.id}">
                                <p:ajax event="rowSelect" listener="#{encuestaController.onRowSelect}"
                                        update=":form:msgs"/>
                                <p:ajax event="rowUnselect" listener="#{encuestaController.onRowUnselect}"
                                        update=":form:msgs"/>
                                <p:column filterBy="#{oa.title}" headerText="Titulo" filterMatchMode="contains">
                                    <p:outputLabel value="#{oa.title}"/>
                                </p:column>

                                <!--<p:column headerText="Descripcion">
                                    <p:outputLabel value="# {oa.description}"/>
                                </p:column>-->
                                <p:column headerText="Autor">
                                    <p:dataList value="#{oa.author}" var="autor">
                                        #{autor.name}
                                    </p:dataList>
                                </p:column>

                                <p:column headerText="Link">
                                    <h:outputLink value="#{oa.link.href}" target="_blank" style="color: #24769a"
                                                  immediate="true">
                                        #{oa.link.href}
                                    </h:outputLink>
                                </p:column>

                            </p:dataTable>
                        </p:tab>

                        <p:tab id="capa" title="Capa y dimensiones">
                            <br/><br/>
                            <p:outputPanel id="customPanel" style="margin-bottom:10px">
                                <h:panelGrid columns="2">
                                    <p:outputLabel for="customRadio" value="Capa"/>
                                    <p:selectOneMenu id="customRadio" value="#{encuestaController.capa}"
                                                     style="width: 170%;"
                                                     required="true" requiredMessage="Debe seleccionar una capa">
                                        <f:selectItem itemLabel="Seleccione una capa" itemValue="null"/>
                                        <f:selectItem itemLabel="Usuario" itemValue="Usuario"/>
                                        <f:selectItem itemLabel="Experto" itemValue="Experto"/>
                                        <p:ajax event="change" update=":form:wizard pickList"
                                                listener="#{encuestaController.seleccionCapa()}"/>
                                    </p:selectOneMenu>
                                </h:panelGrid>
                                <div class="SeparatorFull"></div>

                                <p:pickList id="pickList" value="#{encuestaController.dimension}" var="dim"
                                            itemLabel="#{dim}"
                                            itemValue="#{dim}" converter="dimensionConverter">

                                </p:pickList>
                            </p:outputPanel>
                        </p:tab>

                        <p:tab id="usuario" title="Seleccionar alumnos"
                               rendered="#{encuestaController.capa eq 'Usuario'}">
                            <p:dataTable id="checkbox" var="alumno" value="#{alumnoController.items}"
                                         selection="#{alumnoController.alumnosSeleccionados}"
                                         rowKey="#{alumno.id}"
                                         style="margin-bottom:0">
                                <f:facet name="header">
                                    Checkbox
                                </f:facet>


                                <p:column selectionMode="multiple" style="width:5%;text-align:center"/>
                                <p:column filterBy="#{alumno.nombre}" headerText="Nombre"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{alumno.nombre}"/>
                                </p:column>

                                <p:column filterBy="#{alumno.apellido}" headerText="Apellido"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{alumno.apellido}"/>
                                </p:column>

                                <p:column filterBy="#{alumno.mail}" headerText="Correo electrónico"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{alumno.mail}"/>
                                </p:column>
                                <p:column filterBy="#{alumno.carrera}" headerText="Carrera"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{alumno.carrera}"/>
                                </p:column>


                            </p:dataTable>
                        </p:tab>

                        <p:tab id="experto" title="Seleccionar expertos"
                               rendered="#{encuestaController.capa eq 'Experto'}">
                            <p:dataTable id="checkboxDT" var="experto" value="#{expertoController.items}"
                                         selection="#{expertoController.expertosSeleccionados}"
                                         rowKey="#{experto.id}"
                                         style="margin-bottom:0">
                                <f:facet name="header">
                                    Checkbox
                                </f:facet>


                                <p:column selectionMode="multiple" style="width:5%;text-align:center"/>
                                <p:column filterBy="#{experto.nombre}" headerText="Nombre"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{experto.nombre}"/>
                                </p:column>

                                <p:column filterBy="#{experto.apellido}" headerText="Apellido"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{experto.apellido}"/>
                                </p:column>

                                <p:column filterBy="#{experto.mail}" headerText="Correo electrónico"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{experto.mail}"/>
                                </p:column>
                                <p:column filterBy="#{experto.especialidad}" headerText="Especialidad"
                                          filterMatchMode="contains">
                                    <h:outputText value="#{experto.especialidad}"/>
                                </p:column>


                            </p:dataTable>
                        </p:tab>
                        <p:tab id="fin" title="Finalizar encuesta">
                            <br/><br/><br/>
                            <h:panelGrid columns="2">

                                <p:outputLabel value="Nombre:" style="font-weight: bold"/>
                                <p:outputLabel value="#{encuestaController.selected.nombre}"/>

                                <p:outputLabel value="Fecha:" style="font-weight: bold"/>
                                <p:outputLabel value="#{now}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </p:outputLabel>

                                <p:outputLabel value="Objetos:" style="font-weight: bold"/>
                                <p:outputLabel value="#{encuestaController.objetoSeleccionado.title}"/>

                                <p:outputLabel value="Capa:" style="font-weight: bold"/>
                                <p:outputLabel value="#{encuestaController.capa}"/>

                                <p:outputLabel value="Dimension/es:" style="font-weight: bold"/>
                                <p:dataList value="#{encuestaController.dimension.target}" var="dimension">
                                    #{dimension.nombre}
                                </p:dataList>


                                <p:outputLabel value="Expertos: "
                                               rendered="#{encuestaController.capa.equals('Experto')}"
                                               style="font-weight: bold"/>
                                <p:dataList value="#{expertoController.expertosSeleccionados}"
                                            var="experto" type="ordered"
                                            rendered="#{encuestaController.capa.equals('Experto')}">
                                    #{experto.apellido}, #{experto.nombre}
                                </p:dataList>


                                <p:outputLabel value="Capa Usuarios"
                                               rendered="#{encuestaController.capa.equals('Usuario')}"
                                               style="font-weight: bold"/>
                            </h:panelGrid>

                            <p:commandButton value="Crear encuesta" id="crearencuesta"
                                             action="#{encuestaController.create()}"
                                             styleClass="botonfondo botonTamanio"
                                             ajax="false"/>

                        </p:tab>
                    </p:wizard>
                    <br/>
                    <p:commandButton id="stepBackward" widgetVar="stepBackward" value="Anterior"
                                     styleClass="botonfondo botonTamanio"
                                     onclick="PF('wiz').back();" disabled="true"/>
                    <p:commandButton id="stepForward" widgetVar="stepForward" value="Siguiente"
                                     styleClass="botonfondo botonTamanio"
                                     onclick="PF('wiz').next();" style="float: right"/>
                </div>
            </div>

        </h:form>
    </ui:define>
</ui:composition>

</html>
