<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.ListEncuestaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form>

            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>

            <br/><br/>
            <h:panelGroup rendered="#{encuestaController.misEncuestas.size() > 0}">
                <p:dataTable emptyMessage="No se encontraron registros" id="encuestas"
                             paginator="true" rows="10" styleClass="textCenter"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Encuestas"
                             style="font-size: 12px" value="#{encuestaController.misEncuestas}" var="item"
                             reflow="true">
                    <p:column styleClass="white">
                        <f:facet name="header">
                            <h:outputText value="Nombre"/>
                        </f:facet>
                        <h:outputText value="#{item.nombre}"/>
                    </p:column>

                    <p:column headerText="Fecha Creacion" styleClass="white" filterBy="#{item.fechacreacion}" filterFunction="#{encuestaController.filterByDate}">
                        <h:outputText value="#{item.fechacreacion}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column styleClass="white">
                        <f:facet name="header">
                            <h:outputText value="Objeto Aprendizaje"/>
                        </f:facet>
                        <h:outputText value="#{item.objetoaprendizaje.titulo}"/>
                    </p:column>

                    <p:column styleClass="white">
                        <f:facet name="header">
                            <h:outputText value="Capa"/>
                        </f:facet>
                        <h:outputText value="#{item.dimensiones.get(0).idcapa.nombre}"/>
                    </p:column>
                    <p:column styleClass="Wid20 TexAlCenter white">
                        <p:commandButton action="#{encuestaController.prepareEdit}" value="Editar"
                                         icon="pi pi-pencil" styleClass="botonfondo">
                            <f:setPropertyActionListener value="#{item}" target="#{encuestaController.current}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <br/>

            <br/>
            <br/>
        </h:form>
    </ui:define>
</ui:composition>

</html>
