<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateExpertoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                    <h3>Nuevo Experto</h3>
                </div>
                <div class="SeparatorFull"></div>
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                            severity="info,fatal,warn"/>
                <h:panelGrid columns="2" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">
                    <p:outputLabel value="#{bundle.CreateExpertoLabel_especialidad}" for="especialidad" />
                    <p:inputText id="especialidad" value="#{expertoController.selected.especialidad}" title="#{bundle.CreateExpertoTitle_especialidad}" />
                    <p:outputLabel value="#{bundle.CreateExpertoLabel_apellido}" for="apellido" />
                    <p:inputText id="apellido" value="#{expertoController.selected.apellido}" title="#{bundle.CreateExpertoTitle_apellido}" />
                    
                    <p:outputLabel value="#{bundle.CreateExpertoLabel_mail}" for="mail" />
                    <p:inputText id="mail" value="#{expertoController.selected.mail}" title="#{bundle.CreateExpertoTitle_mail}" />
                    <p:outputLabel value="#{bundle.CreateExpertoLabel_edad}" for="edad" />
                    <p:inputText id="edad" value="#{expertoController.selected.edad}" title="#{bundle.CreateExpertoTitle_edad}" />
                    <p:outputLabel value="#{bundle.CreateExpertoLabel_nombre}" for="nombre" />
                    <p:inputText id="nombre" value="#{expertoController.selected.nombre}" title="#{bundle.CreateExpertoTitle_nombre}" />
                    
                </h:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton action="#{expertoController.create}" value="Guardar" styleClass="botonfondo botonTamanio"/>
                    </center>


                </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
