<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListExpertoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListExpertoEmpty}" rendered="#{expertoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{expertoController.items.rowCount > 0}">
                    <h:outputText value="#{expertoController.pagination.pageFirstItem + 1}..#{expertoController.pagination.pageLastItem + 1}/#{expertoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{expertoController.previous}" value="#{bundle.Previous} #{expertoController.pagination.pageSize}" rendered="#{expertoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{expertoController.next}" value="#{bundle.Next} #{expertoController.pagination.pageSize}" rendered="#{expertoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{expertoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpertoTitle_especialidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.especialidad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpertoTitle_apellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpertoTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpertoTitle_mail}"/>
                            </f:facet>
                            <h:outputText value="#{item.mail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpertoTitle_edad}"/>
                            </f:facet>
                            <h:outputText value="#{item.edad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpertoTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListExpertoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{expertoController.prepareView}" value="#{bundle.ListExpertoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{expertoController.prepareEdit}" value="#{bundle.ListExpertoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{expertoController.destroy}" value="#{bundle.ListExpertoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{expertoController.prepareCreate}" value="#{bundle.ListExpertoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListExpertoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
