<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewExpertoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewExpertoLabel_especialidad}"/>
                    <h:outputText value="#{expertoController.selected.especialidad}" title="#{bundle.ViewExpertoTitle_especialidad}"/>
                    <h:outputText value="#{bundle.ViewExpertoLabel_apellido}"/>
                    <h:outputText value="#{expertoController.selected.apellido}" title="#{bundle.ViewExpertoTitle_apellido}"/>
                    <h:outputText value="#{bundle.ViewExpertoLabel_tipo}"/>
                    <h:outputText value="#{expertoController.selected.tipo}" title="#{bundle.ViewExpertoTitle_tipo}"/>
                    <h:outputText value="#{bundle.ViewExpertoLabel_mail}"/>
                    <h:outputText value="#{expertoController.selected.mail}" title="#{bundle.ViewExpertoTitle_mail}"/>
                    <h:outputText value="#{bundle.ViewExpertoLabel_edad}"/>
                    <h:outputText value="#{expertoController.selected.edad}" title="#{bundle.ViewExpertoTitle_edad}"/>
                    <h:outputText value="#{bundle.ViewExpertoLabel_nombre}"/>
                    <h:outputText value="#{expertoController.selected.nombre}" title="#{bundle.ViewExpertoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewExpertoLabel_id}"/>
                    <h:outputText value="#{expertoController.selected.id}" title="#{bundle.ViewExpertoTitle_id}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{expertoController.destroyAndView}" value="#{bundle.ViewExpertoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewExpertoEditLink}"/>
                <br />
                <h:commandLink action="#{expertoController.prepareCreate}" value="#{bundle.ViewExpertoCreateLink}" />
                <br />
                <h:commandLink action="#{expertoController.prepareList}" value="#{bundle.ViewExpertoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewExpertoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
