<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRepositorioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                    <div class="Card">
                        <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                            <h3>Nueva Repositorio</h3>
                        </div>
                        <div class="SeparatorFull"></div>
                        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                                    severity="info,fatal,warn"/>
                <h:panelGrid columns="2"  width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">
                    <p:outputLabel value="Nombre de repositorio" for="nombrerepositorio" />
                    <p:inputText id="nombrerepositorio" value="#{repositorioController.selected.nombrerepositorio}" required="true"
                                 title="Nombre de Repositorio" requiredMessage="Debe ingresar nombre de repositorio" />
                    <p:outputLabel value="&#160;"/>
                    <p:message for="nombrerepositorio"/>
                    <p:outputLabel value="Direccion (URL)" for="url" />
                    <p:inputText id="url" value="#{repositorioController.selected.url}" required="true"
                                 title="Direccion (URL)" requiredMessage="Debe ingresar URL de repositorio"/>
                    <p:outputLabel value="&#160;"/>
                    <p:message for="url"/>

                </h:panelGrid>
                <br/>
                <center>
                    <p:commandButton action="#{repositorioController.create}" value="Guardar"
                                     styleClass="botonfondo botonTamanio" update="pnlCrear"/>
                </center>


            </div>
        </div>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
