<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRepositorioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRepositorioLabel_url}"/>
                    <h:outputText value="#{repositorioController.selected.url}" title="#{bundle.ViewRepositorioTitle_url}"/>
                    <h:outputText value="#{bundle.ViewRepositorioLabel_id}"/>
                    <h:outputText value="#{repositorioController.selected.id}" title="#{bundle.ViewRepositorioTitle_id}"/>
                    <h:outputText value="#{bundle.ViewRepositorioLabel_nombrerepositorio}"/>
                    <h:outputText value="#{repositorioController.selected.nombrerepositorio}" title="#{bundle.ViewRepositorioTitle_nombrerepositorio}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{repositorioController.destroyAndView}" value="#{bundle.ViewRepositorioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRepositorioEditLink}"/>
                <br />
                <h:commandLink action="#{repositorioController.prepareCreate}" value="#{bundle.ViewRepositorioCreateLink}" />
                <br />
                <h:commandLink action="#{repositorioController.prepareList}" value="#{bundle.ViewRepositorioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRepositorioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
