<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.CreateResultadoEncuestaTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:panelGroup id="messagePanel" layout="block">
            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <h:form>
            <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                    <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                        <h3>Nuevo resultado de encuesta</h3>
                    </div>
                    <div class="SeparatorFull"></div>
                    <p:growl id="growl" showDetail="true" sticky="true"/>

                    <h:panelGrid columns="1" width="100%" id="pnlCrear" style="font-size: 12px" styleClass="tableInput">

                        <p>Antes de responder dirigirse al siguiente link:</p><a
                            href="#{resultadoEncuestaController.encuestaAResponder.objetoaprendizaje.identificador}"
                            target="_blank">#{resultadoEncuestaController.encuestaAResponder.objetoaprendizaje.identificador}</a>
                        <div class="SeparatorFull"></div>


                        <p:wizard showNavBar="false" widgetVar="wiz"
                                  onnext="PF('wiz').getStepIndex(PF('wiz').currentStep)+1=== #{resultadoEncuestaController.listaTabs.size()-1} ? PF('stepForward').disable() : PF('stepForward').enable();
                                          PF('wiz').getStepIndex(PF('wiz').currentStep)+1 !==0 ? PF('stepBackward').enable() : PF('stepBackward').disable();"
                                  onback="PF('wiz').getStepIndex(PF('wiz').currentStep)-1===0 ? PF('stepBackward').disable() : PF('stepBackward').enable();
                                          PF('wiz').getStepIndex(PF('wiz').currentStep)-1!== #{resultadoEncuestaController.listaTabs.size()-1} ? PF('stepForward').enable() : PF('stepForward').disable();">
                            <c:forEach items="#{resultadoEncuestaController.listaTabs}" var="tab" varStatus="loopTabs">
                                <p:tab title="#{tab.title}">
                                    <br/>
                                    <p:outputLabel value="Su valor de experticia de la dimensión #{tab.title}"
                                                   rendered="#{resultadoEncuestaController.esExperto()}"/>
                                    <p:rating
                                            value="#{resultadoEncuestaController.obtenerRespuestaExperticia(tab.title).valor}"
                                            rendered="#{resultadoEncuestaController.esExperto()}"/>
                                    <br/>
                                    <c:forEach
                                            items="#{resultadoEncuestaController.obtenerRespuestasPorDimension(tab.title)}"
                                            var="respuesta" varStatus="loop">


                                        <p:outputLabel value="#{respuesta.idpregunta.idmetrica.nombre}:"
                                                       style="color:red"/>

                                        <br/>
                                        <p:outputLabel style="font-weight:bold;"
                                                       value="#{respuesta.idpregunta.pregunta}"/>


                                        <p:rating value="#{respuesta.valorrespuesta}"/>


                                        <br/>

                                    </c:forEach>
                                </p:tab>
                            </c:forEach>
                        </p:wizard>
                    </h:panelGrid>
                    <p:commandButton id="stepBackward" widgetVar="stepBackward" value="Anterior"
                                     styleClass="botonfondo botonTamanio"
                                     rendered="#{resultadoEncuestaController.listaTabs.size() > 1}"
                                     disabled="true"
                                     onclick="PF('wiz').back();"/>
                    <p:commandButton id="stepForward" widgetVar="stepForward" value="Siguiente"
                                     styleClass="botonfondo botonTamanio"
                                     rendered="#{resultadoEncuestaController.listaTabs.size() > 1}"
                                     onclick="PF('wiz').next();" style="float: right"/>
                    <br/>
                    <center>
                        <p:commandButton action="#{resultadoEncuestaController.create}" value="Guardar"
                                         styleClass="botonfondo botonTamanio" update="pnlCrear growl"/>
                    </center>


                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
