<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditResultadoEncuestaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <div class="Container50 Responsive100 centerCard" style="margin: auto; float:none;">
                <div class="Card">
                <div class="CardTopic"><i class="pi pi-clone Fs30 Fleft MarRight10"></i>
                    <h3>Editar resultado de encuesta</h3>
                </div>
                <div class="SeparatorFull"></div>
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"
                            severity="info,fatal,warn"/>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditResultadoEncuestaLabel_idencuestado}" for="idencuestado" />
                    <h:selectOneMenu id="idencuestado" value="#{resultadoEncuestaController.selected.idencuestado}" title="#{bundle.EditResultadoEncuestaTitle_idencuestado}" >
                        <f:selectItems value="#{encuestadoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditResultadoEncuestaLabel_reporteevaluacion}" for="reporteevaluacion" />
                    <h:selectOneMenu id="reporteevaluacion" value="#{resultadoEncuestaController.selected.reporteevaluacion}" title="#{bundle.EditResultadoEncuestaTitle_reporteevaluacion}" >
                        <f:selectItems value="#{reporteEvaluacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditResultadoEncuestaLabel_id}" for="id" />
                    <h:inputText id="id" value="#{resultadoEncuestaController.selected.id}" title="#{bundle.EditResultadoEncuestaTitle_id}" />
                    <h:outputLabel value="#{bundle.EditResultadoEncuestaLabel_nombredimension}" for="nombredimension" />
                    <h:inputText id="nombredimension" value="#{resultadoEncuestaController.selected.nombredimension}" title="#{bundle.EditResultadoEncuestaTitle_nombredimension}" />
                    <h:outputLabel value="#{bundle.EditResultadoEncuestaLabel_nombreobjetoaprendizaje}" for="nombreobjetoaprendizaje" />
                    <h:inputText id="nombreobjetoaprendizaje" value="#{resultadoEncuestaController.selected.nombreobjetoaprendizaje}" title="#{bundle.EditResultadoEncuestaTitle_nombreobjetoaprendizaje}" />
                    <h:outputLabel value="#{bundle.EditResultadoEncuestaLabel_valorexperticia}" for="valorexperticia" />
                    <h:inputText id="valorexperticia" value="#{resultadoEncuestaController.selected.valorexperticia}" title="#{bundle.EditResultadoEncuestaTitle_valorexperticia}" />
                </h:panelGrid>
                    <br/>
                    <center>
                        <p:commandButton action="#{resultadoEncuestaController.create}" value="Guardar cambios" styleClass="botonfondo botonTamanio"/>
                    </center>


                </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
