<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListResultadoEncuestaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListResultadoEncuestaEmpty}" rendered="#{resultadoEncuestaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{resultadoEncuestaController.items.rowCount > 0}">

                    <h:dataTable value="#{resultadoEncuestaController.items}" emptyMessage="No se encontraron registros" id="resultadoencuestas"
                                 paginator="true" rows="10"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Resultados de encuestas"
                                 style="font-size: 12px"  var="item"
                                 reflow="true">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListResultadoEncuestaTitle_idencuestado}"/>
                            </f:facet>
                            <h:outputText value="#{item.idencuestado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListResultadoEncuestaTitle_reporteevaluacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.reporteevaluacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListResultadoEncuestaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        
                                               <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{resultadoEncuestaController.prepareView}" value="#{bundle.ListResultadoEncuestaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{resultadoEncuestaController.prepareEdit}" value="#{bundle.ListResultadoEncuestaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{resultadoEncuestaController.destroy}" value="#{bundle.ListResultadoEncuestaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{resultadoEncuestaController.prepareCreate}" value="#{bundle.ListResultadoEncuestaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListResultadoEncuestaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
