<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewResultadoEncuestaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewResultadoEncuestaLabel_idencuestado}"/>
                    <h:outputText value="#{resultadoEncuestaController.selected.idencuestado}" title="#{bundle.ViewResultadoEncuestaTitle_idencuestado}"/>
                    <h:outputText value="#{bundle.ViewResultadoEncuestaLabel_reporteevaluacion}"/>
                    <h:outputText value="#{resultadoEncuestaController.selected.reporteevaluacion}" title="#{bundle.ViewResultadoEncuestaTitle_reporteevaluacion}"/>
                    <h:outputText value="#{bundle.ViewResultadoEncuestaLabel_id}"/>
                    <h:outputText value="#{resultadoEncuestaController.selected.id}" title="#{bundle.ViewResultadoEncuestaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewResultadoEncuestaLabel_nombredimension}"/>
                    <h:outputText value="#{resultadoEncuestaController.selected.nombredimension}" title="#{bundle.ViewResultadoEncuestaTitle_nombredimension}"/>
                    <h:outputText value="#{bundle.ViewResultadoEncuestaLabel_nombreobjetoaprendizaje}"/>
                    <h:outputText value="#{resultadoEncuestaController.selected.nombreobjetoaprendizaje}" title="#{bundle.ViewResultadoEncuestaTitle_nombreobjetoaprendizaje}"/>
                    <h:outputText value="#{bundle.ViewResultadoEncuestaLabel_valorexperticia}"/>
                    <h:outputText value="#{resultadoEncuestaController.selected.valorexperticia}" title="#{bundle.ViewResultadoEncuestaTitle_valorexperticia}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{resultadoEncuestaController.destroyAndView}" value="#{bundle.ViewResultadoEncuestaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewResultadoEncuestaEditLink}"/>
                <br />
                <h:commandLink action="#{resultadoEncuestaController.prepareCreate}" value="#{bundle.ViewResultadoEncuestaCreateLink}" />
                <br />
                <h:commandLink action="#{resultadoEncuestaController.prepareList}" value="#{bundle.ViewResultadoEncuestaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewResultadoEncuestaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
