<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMetricaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMetricaLabel_formula}"/>
                    <h:outputText value="#{metricaController.selected.formula}" title="#{bundle.ViewMetricaTitle_formula}"/>
                    <h:outputText value="#{bundle.ViewMetricaLabel_dimension}"/>
                    <h:outputText value="#{metricaController.selected.dimension}" title="#{bundle.ViewMetricaTitle_dimension}"/>
                    <h:outputText value="#{bundle.ViewMetricaLabel_id}"/>
                    <h:outputText value="#{metricaController.selected.id}" title="#{bundle.ViewMetricaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewMetricaLabel_nombre}"/>
                    <h:outputText value="#{metricaController.selected.nombre}" title="#{bundle.ViewMetricaTitle_nombre}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{metricaController.destroyAndView}" value="#{bundle.ViewMetricaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMetricaEditLink}"/>
                <br />
                <h:commandLink action="#{metricaController.prepareCreate}" value="#{bundle.ViewMetricaCreateLink}" />
                <br />
                <h:commandLink action="#{metricaController.prepareList}" value="#{bundle.ViewMetricaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMetricaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
