<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
    <ui:define name="title">
        <h:outputText value="#{bundle.ListDimensionTitle}"></h:outputText>
    </ui:define>
    <ui:define name="body">
        <h:form styleClass="jsfcrud_list_form">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:outputText escape="false" value="#{bundle.ListDimensionEmpty}"
                          rendered="#{dimensionController.items.rowCount == 0}"/>
            <h:panelGroup rendered="#{dimensionController.items.rowCount > 0}">

                <p:dataTable value="#{dimensionController.items}" emptyMessage="No se encontraron registros"
                             id="dimensiones"
                             paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="({startRecord} - {endRecord}) de {totalRecords} Dimensiones"
                             style="font-size: 12px" var="item" styleClass="textCenter"
                             reflow="true">
                    <p:column headerText="Nombre" styleClass="white">


                        <h:outputText value="#{item.nombre}"/>
                    </p:column>

                    <p:column headerText="Descripcion" styleClass="white">
                        <p:outputLabel value="#{item.descripcion}"/>
                    </p:column>
                    <p:column headerText="Capa" styleClass="white">
                        <h:outputText value="#{item.idcapa.nombre}"/>
                    </p:column>

                    <p:column styleClass="white">
                        <p:commandButton action="#{dimensionController.prepareEdit}" value="Editar"
                                         icon="pi pi-pencil" styleClass="botonfondo"/>

                    </p:column>
                </p:dataTable>
            </h:panelGroup>

        </h:form>
    </ui:define>
</ui:composition>

</html>
