<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDimensionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDimensionLabel_descripcion}"/>
                    <h:outputText value="#{dimensionController.selected.descripcion}" title="#{bundle.ViewDimensionTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewDimensionLabel_idcapa}"/>
                    <h:outputText value="#{dimensionController.selected.idcapa}" title="#{bundle.ViewDimensionTitle_idcapa}"/>
                    <h:outputText value="#{bundle.ViewDimensionLabel_id}"/>
                    <h:outputText value="#{dimensionController.selected.id}" title="#{bundle.ViewDimensionTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDimensionLabel_nombre}"/>
                    <h:outputText value="#{dimensionController.selected.nombre}" title="#{bundle.ViewDimensionTitle_nombre}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{dimensionController.destroyAndView}" value="#{bundle.ViewDimensionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDimensionEditLink}"/>
                <br />
                <h:commandLink action="#{dimensionController.prepareCreate}" value="#{bundle.ViewDimensionCreateLink}" />
                <br />
                <h:commandLink action="#{dimensionController.prepareList}" value="#{bundle.ViewDimensionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDimensionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
