<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRespuestaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRespuestaEmpty}" rendered="#{respuestaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{respuestaController.items.rowCount > 0}">
                    <h:outputText value="#{respuestaController.pagination.pageFirstItem + 1}..#{respuestaController.pagination.pageLastItem + 1}/#{respuestaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{respuestaController.previous}" value="#{bundle.Previous} #{respuestaController.pagination.pageSize}" rendered="#{respuestaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{respuestaController.next}" value="#{bundle.Next} #{respuestaController.pagination.pageSize}" rendered="#{respuestaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{respuestaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestaTitle_idpregunta}"/>
                            </f:facet>
                            <h:outputText value="#{item.idpregunta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestaTitle_resultado}"/>
                            </f:facet>
                            <h:outputText value="#{item.resultado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRespuestaTitle_valorrespuesta}"/>
                            </f:facet>
                            <h:outputText value="#{item.valorrespuesta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{respuestaController.prepareView}" value="#{bundle.ListRespuestaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{respuestaController.prepareEdit}" value="#{bundle.ListRespuestaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{respuestaController.destroy}" value="#{bundle.ListRespuestaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{respuestaController.prepareCreate}" value="#{bundle.ListRespuestaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRespuestaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
