<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRespuestaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRespuestaLabel_id}"/>
                    <h:outputText value="#{respuestaController.selected.id}" title="#{bundle.ViewRespuestaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewRespuestaLabel_idpregunta}"/>
                    <h:outputText value="#{respuestaController.selected.idpregunta}" title="#{bundle.ViewRespuestaTitle_idpregunta}"/>
                    <h:outputText value="#{bundle.ViewRespuestaLabel_resultado}"/>
                    <h:outputText value="#{respuestaController.selected.resultado}" title="#{bundle.ViewRespuestaTitle_resultado}"/>
                    <h:outputText value="#{bundle.ViewRespuestaLabel_valorrespuesta}"/>
                    <h:outputText value="#{respuestaController.selected.valorrespuesta}" title="#{bundle.ViewRespuestaTitle_valorrespuesta}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{respuestaController.destroyAndView}" value="#{bundle.ViewRespuestaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRespuestaEditLink}"/>
                <br />
                <h:commandLink action="#{respuestaController.prepareCreate}" value="#{bundle.ViewRespuestaCreateLink}" />
                <br />
                <h:commandLink action="#{respuestaController.prepareList}" value="#{bundle.ViewRespuestaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRespuestaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
